.text-platzi{
  color :#97c93e !important;
}

.btn-platzi{
  background-color: #97c93e;
  color: white;
}
.btn-platzi:hover{
  background-color: #82ad36;
}

#Header img{
  width: 80px;
}

#main .carousel-inner img{
   /* El 70% del alto de la pantalla */
    max-height: 70vh;
    /* Cambio para Que la imagen no se vea pixelada */
    object-fit: cover;
    /* Colocar un filtro con una escala de grises  */
    filter: grayscale(70%)
}

#carousel{
  position: relative;
}

#carousel .overlay{
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  color:white;
}
 /* Se busco la forma de posicionar  el overlay para 100 del tamaño del carrouse] */
#carousel .overlay .container,
#carousel .overlay .row
{
  height: 100%;
}
#place-time{
  background-color: #343A40;
  color: white;
}
#place-time img{
  width: 100%;
}
#footer{
  background: #1c3643;
}

#footer a{
  color: white;
}
